<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <%= render 'microposts/new' %>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
      	<% index = 1 %>

        <% @user.microposts.each do |p| %>
        	<div>
        		<b><%= index %>.    </b><%= p.content %>
        		<% index = index + 1 %>
        	</div>
        	<div>
        		<% if current_user?(p.user) %>
        			<%= link_to "Delete", p, method: :delete, data: { confirm: "Are you sure? "} %>
        			<% end %>
        	</div>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
